Repository keybas-engineering/kb-template-vue-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm-cache, test-quality, test-build, test-unit

npm-cache:
  stage: .pre
  image: node:14-bullseye-slim
  cache:
    key:
      files:
      - package.json
    paths:
    - node_modules/
    policy: push
  before_script:
  - echo "@france-atelier:registry=https://gitlab.com/api/v4/packages/npm/" > .npmrc
  ...

test-quality:
  stage: test
  image: node:14-bullseye-slim
  cache:
    key:
      files:
      - package.json
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run lint || true
  artifacts:
    reports:
      codequality: gl-codequality.json

test-build:
  stage: test
  image: node:14-bullseye-slim
  cache:
    key:
      files:
      - package.json
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run build

test-unit:
  stage: test
  image: node:14-bullseye-slim
  cache:
    key:
      files:
      - package.json
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run test

💚 do not run lint and tests during build
  package.json
Due: npm-cache, test-quality, test-build, test-unit

💚 comply with the weird requirements of vue-cli
  Dockerfile
  package.json
Due: npm-cache, test-quality, test-build, test-unit

📝 document deployments and add better dependencies
  .env.example
  Dockerfile
  README.md
  deploy/.env.example
  deploy/README.md
  deploy/docker-compose.yml
  deploy/nginx.conf
  package-lock.json
  package.json
  src/components/KbTodoItem.vue
  src/components/KbTodoList.vue
  src/services/pathify.ts
  src/store/index.ts
  tests/unit/components/KbTodoItem.spec.ts
Due: npm-cache, test-quality, test-build, test-unit

💚 create a latest docker tag
  .gitlab-ci.yml
  src/components/KbTodoItem.vue
Due: test-quality, test-build, test-unit

⬆️ upgrade most dependencies to latest working version
  package-lock.json
  package.json
  src/router/index.ts
  src/services/pathify.ts
  src/shims-vue.d.ts
  src/views/AboutPage.vue
  src/views/HomePage.vue
Due: npm-cache, test-quality, test-build, test-unit

💚 use node 16, build a better docker image, improve ci reports
  .gitlab-ci.yml
  Dockerfile
  deploy/entrypoint.sh
  package-lock.json
  package.json
  src/components/KbTodoList.vue
  src/store/todo-list.ts
Due: npm-cache, test-quality, test-build, test-unit

✨ replace vuex with pinia
  README.md
  package-lock.json
  package.json
  src/App.vue
  src/components/KbTodoItem.vue
  src/components/KbTodoList.vue
  src/main.ts
  src/services/pathify.ts
  src/shims-vue.d.ts
  src/store/index.ts
  src/store/todo-list.ts
Due: npm-cache, test-quality, test-build, test-unit

✨ allow dynamic colors (for white-label releases)
  public/index.html
  src/style/_variables.scss
  src/style/app.scss
  src/style/override/_functions.scss
  src/style/override/_modules.scss
  vue.config.js
Due: test-quality, test-build, test-unit

🏷️ fix module lookup for App.vue in main.ts
  src/shims-vue.d.ts
Due: test-quality, test-build, test-unit

🩹 fix install of eslint config
  package-lock.json
Due: test-quality, test-build, test-unit

💚 fix usage of public directory in docker builds
  Dockerfile
  deploy/docker-compose.yml
  deploy/nginx.conf
Due: none

✨ add favicon and app title, and improve docker image
  Dockerfile
  deploy/nginx.conf
  vue.config.js
Due: none

⬆️ update dependencies to latest version
  package-lock.json
  package.json
Due: npm-cache, test-quality, test-build, test-unit

⬆️ early upgrade to vue cli 5
  package-lock.json
  package.json
  src/components/KbTodoList.vue
Due: npm-cache, test-quality, test-build, test-unit

📝 add explanations for SASS variables
  src/style/_variables.scss
Due: test-quality, test-build, test-unit

➕ use fontawesome svg icons
  package-lock.json
  package.json
  src/icons.ts
  src/main.ts
Due: npm-cache, test-quality, test-build, test-unit

🐛 fix override of `mix` bootstrap sass function
  src/style/override/_functions.scss
Due: test-quality, test-build, test-unit

🐛 override bootstrap's theme-color-level function
  src/style/override/_functions.scss
Due: test-quality, test-build, test-unit

⬆️ upgrade dependencies (stable version of vue-cli)
  package-lock.json
  package.json
Due: npm-cache, test-quality, test-build, test-unit

🐛 fix entrypoint.sh in some cases
  deploy/entrypoint.sh
Due: none

Path conditions:
  npm-cache: any of: package.json
  test-quality: any of: src/*, src/**/*, src/**/**/*, src/**/**/**/*, src/**/**/**/**/*, package*.json
  test-build: any of: src/*, src/**/*, src/**/**/*, src/**/**/**/*, src/**/**/**/**/*, package*.json
  test-unit: any of: src/*, src/**/*, src/**/**/*, src/**/**/**/*, src/**/**/**/**/*, package*.json
